# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT
 
 
if SHIELD_FRENZY_LEFT

config ZMK_KEYBOARD_NAME
	default "Frenzy"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_FRENZY_LEFT || SHIELD_FRENZY_RIGHT

config ZMK_SPLIT
	default y

endif
